:root {
  --clr-primary-400: hsl(225, 100%, 94%);
  --clr-primary-700: hsl(245, 75%, 52%);
  --clr-neutral-300: hsl(225, 100%, 98%);
  --clr-neutral-500: hsl(224, 23%, 55%);
  --clr-neutral-700: hsl(223, 47%, 23%);
  --clr-hover-300: hsl(245, 83%, 68%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--clr-primary-400);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  color: var(--clr-neutral-500);
  font-family: 'Red Hat Display', sans-serif;
}

main {
  max-width: 32.7em;
}

img {
  width: 100%;
}

.illustration-hero {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card {
  border-radius: 2em;
  background-color: #fff;
  box-shadow: 0 4em 4em -2em rgba(13, 48, 189, 0.151826);
  text-align: center;
}

.card__text {
  padding: 3.2em 0;
  margin: 0 2.4em;
}

.card__text > h1 {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--clr-neutral-700);
  margin-bottom: 1.6rem;
}
.card__text > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.plan {
  display: flex;
  align-items: center;
  padding: 1.6em;
  background-color: var(--clr-neutral-300);
  border-radius: 1.1em;
  margin: 2.4em 0;
}

.plan__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-right: 4.3em;
}

.plan > img {
  height: 4.8em;
  width: 4.8em;
}

.plan__price > h2,
.plan__price > p {
  font-size: 1.3rem;
}

.plan__price > h2 {
  font-weight: 700;
  color: var(--clr-neutral-700);
}
.plan__price > p {
  font-weight: 500;
}

.plan__change {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--clr-primary-700);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.proceed {
  font-size: 1.3rem;
  font-weight: 900;
  border-radius: 1.1rem;
  border-color: none;
  padding: 1.5rem 6.4rem;
  margin-bottom: 2.4rem;
  background-color: var(--clr-primary-700);
  color: #fff;
  box-shadow: 0px 2rem 2rem rgba(56, 42, 225, 0.190291);
}
.cancel {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--clr-neutral-500);
}
.cancel:link {
  text-decoration: none;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--clr-primary-700);
}

/* Media Query for Desktop */
@media (min-width: 768px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }

  main {
    max-width: 45em;
  }

  .card__text {
    padding: 4.4em 0 4.9em 0;
    margin: 0 4.8em;
  }
  .card__text > h1 {
    font-size: 2.8rem;
  }
  .card__text > p {
    font-size: 1.6rem;
  }

  .plan {
    padding: 2.3em;
    margin: 2.1em 0 3em 0;
  }
  .plan__price {
    padding-left: 2em;
    padding-right: 7.8em;
  }
  .plan__price > h2,
  .plan__price > p {
    font-size: 1.8rem;
  }

  .plan__change {
    font-size: 1.4rem;
  }
  .proceed {
    padding: 1.9rem 10.2rem;
    margin-bottom: 3.2rem;
  }

  .proceed:hover {
    background-color: var(--clr-hover-300);
  }

  .plan__change:hover,
  .cancel:hover {
    cursor: pointer;
  }

  .plan__change:hover {
    color: var(--clr-hover-300);
    text-decoration: none;
  }
  .cancel:hover {
    color: var(--clr-neutral-700);
  }
}
